:root {
  --h: var(--bulma-primary-h);
  --s: var(--bulma-primary-s);
  --l: var(--bulma-primary-l);
}

  /* 2. Réduire l'espacement principal au-dessus du conteneur */
  #app > .container {
    padding-top: 4rem;
  }

.app-tile {
  --a: 0.2;
  background-color: var(--bulma-scheme-main);
  border-color: var(--bulma-border);
  border-radius: var(--bulma-radius-large);
  border-style: solid;
  border-width: 1px;
  box-shadow: var(--bulma-shadow);
  box-shadow: 0 .25em .5em 0 hsla(var(--h), var(--s), var(--l), var(--a));
  color: var(--bulma-text-weak);
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: 1.125em 1.5em 1.5em;
  transition-duration: var(--bulma-duration);
  transition-property: border-color,box-shadow,transform;
}

.app-tile:hover {
  --a: 0.15;
  border-color: hsla(var(--h), var(--s), var(--l), 100%);
  box-shadow: 0 1em 2em 0 hsla(var(--h), var(--s), var(--l), var(--a)),0 2em 4em 0 hsla(var(--h), var(--s), var(--l), var(--a));
  transform: translateY(-.5em)
}

/* --- MODALE DE TÉLÉCHARGEMENT --- */

#download-modal-card {
  /* Taille fixe */
  height: 510px; 
  
  /* Sécurités responsives : pour que la modale ne déborde pas sur les petits écrans*/
  max-width: 95vw; 
  max-height: 95vh;
}

#download-modal-card .modal-card-body {
  /* On arrondit les coins inférieurs (puisqu'il n'y a plus de footer) */
  border-bottom-left-radius: 8px; 
  border-bottom-right-radius: 8px;
}

/* --- TUILES SECONDAIRES --- */

/* Force la grille à 3 colonnes sur tablette/ordinateur pour aligner avec la ligne du haut */
@media screen and (min-width: 769px) {
  .grid.is-fixed-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Variante plus compacte pour les tuiles moins importantes */
.app-tile.is-small {
  padding: 0.8em 1.2em 1.2em;
  gap: 0.3em;
}

.app-tile.is-small .title {
  font-size: 1.1rem; 
  margin-bottom: 0.2em;
}

.app-tile.is-small p {
  font-size: 0.85rem;
}

/* --- COMPACTAGE VERTICAL POUR ÉCRANS < 767px --- */
@media screen and (max-height: 719px) {

  /* 2. Réduire l'espacement principal au-dessus du conteneur */
  #app > .container {
    padding-top: 2rem;
    padding-bottom: 4rem; /* Laisse de la place pour le bouton Télécharger en bas */
  }

  /* 3. Réduire de moitié les grandes marges de Bulma (.mt-6 = 3rem par défaut) */
  .mt-6 {
    margin-top: 1.5rem !important;
  }

  .app-tile .title {
    margin-bottom: 0.5rem !important;
  }
  
}