@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, html {
  font-family: "Inter", sans-serif;
  user-select: none;
  overflow:hidden;
}

#app{
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.vertical-divider{
  border-left: 2px solid rgb(163, 163, 163);
  padding:0px;
}

.deletable-tab{
  padding-left: 0rem !important;
  padding-right: 0.1rem !important;
}

.tab-delete{
  margin-inline-start: .25em !important;
  visibility: hidden;
}
.deletable-tab:hover .tab-delete{
  visibility:visible;
}

/* Remove the arrows in number inputs*/
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
	-webkit-appearance: none !important;
	margin: 0 !important;
}
.no-spin{
	-moz-appearance:textfield !important;
}

.has-bottom-round-corner{
  border-end-start-radius: 0.75rem;
  border-end-end-radius: 0.75rem;
}

.has-box-shadow{
  box-shadow: rgba(9, 10, 12, 0.1) 0px 8px 16px -2px, rgba(9, 10, 12, 0.02) 0px 0px 0px 1px
}

.main-container{
  margin: 0 !important;
}

/*----------------------------------------------------------------------------------------------
--------------------------------------------SCROLLBAR-------------------------------------------
----------------------------------------------------------------------------------------------*/
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(167, 167, 167) rgba(182, 182, 182, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(138, 138, 138, 0.37);
  border-radius: 10px;
}

*::-webkit-scrollbar-button{
  background: transparent;
}
